.above {
	background-color: #ccc;
}

.header-bottom {
	background-color: #ddd;
}

main .right .product-grid .product:hover {
	box-shadow: 0 0 1px 0 #000;	
}

main .left .filter-opener {
	background-color: #ccc;
}