@media screen and (min-width: 1000px) {
	
	.header__top,
	.header__middle,
	.header__bottom,
	.above-content,
	.main,
	.footer__top,
	.footer__bottom {
		box-sizing: border-box;
		width: 1000px;
		margin: 0 auto;
	}
	
	/* HEADER start */
	.header__top {
		padding: 1rem 0.8333333333333333rem; /* 12px / 12px, 10px / 12px */
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.contact-info {
		display: block;
	}

	.user-menu {
		position: static;
	}

	.user-menu__dropdown {
		height: auto;
	}

	.dropdown-menu__expander {
		line-height: 1rem;
		min-height: 0;
	}

	.dropdown-menu__expander::after {
		top: 4px;
	}

	.user-menu__link {
		display: inline;
	}

	.my-account__icon {
		margin-bottom: -6px;
	}

	.header__middle {
		padding: 0 10px;
		height: 42px;
		border-bottom: none;
		margin-bottom: 18px;
	}

	.page-logo,
	.search-form {
		margin-left: 0;
	}

	.page-logo {
		width: 157px;
		height: 42px;
	}
	
	.search-form {
		width: 54.50097847358121%; /*  557px / 1022px */
	}

	.shopping-cart {
		width: 42px;
		height: 42px;
	}

	/* Styles for menu */
	.menu-opener {
		display: none;
	}

	.menu__wrapper {
		display: block;
		position: static;
	}

	.menu__item {
		width: auto;
		display: inline-block;
	}

	/* HEADER end */

	.above-content {
		padding: 0.8333333333333333rem; /* 10px / 12px */
	}

	.above .heading p {
		display: block;
	}

	.above-content__header {
		width: 32%;
	}

	.above-content__paragraph {
		display: none;
	}

	.above-content__paragraph-2 {
		display: block;
		float: right;
		width: 66%;
		line-height: 1.8;
	}

	.left-column,
	.right-column {
		padding: 0 0.8333333333333333rem;
	}

	.view-settings,
	.recent-products-wrapper {
		padding: 0;
	}

	.product {
		width: 33.33%;
	}

	.r-product:last-child {
		display: block;
	}

	.features {
		padding: 5rem 0.8333333333333333rem;
	}

	.features-list__item:last-child,
	.features-list__item:nth-child(5) + .features-list__separator {
		display: block;
	}

	.sitemap__item {
		width: 33.33%;
	}

	.sitemap,
	.subscribe {
		width: 40%;
	}

	.social {
		width: 20%;
	}
}