@media screen and (min-width: 900px) {
	
	.header-top,
	.header-middle,
	.header-bottom,
	.center,
	main {
		width: 1000px;
		margin: 0 auto;
	}

	.header-top {
		flex-direction: row;
		justify-content: space-between;
		box-sizing: border-box;
		font-size: 11px;
		line-height: 1;
		padding: 10px 10px 0px;
		margin-bottom: 35px;
	}

		.header-top .contact-info {
			display: block;
			height: 18px;
			position: relative;
			padding-left: 30px;
		}

			.header-top .contact-info::before {
				position: absolute;
				content: "";
				width: 18px;
				height: 18px;
				top: -4px;
				left: 0;
				background-color: #000;
			}

		.header-top .action {
			position: static;
		}

			.header-top .action li {
				padding: 0 1em;
				height: auto;
				line-height: 1;
			}

			.header-top .action li a {
				font-size: 11px;
			}

			.header-top .action .hyp {
				display: block;
			}

	.header-middle {
		box-sizing: border-box;
		padding: 0 10px;
		height: 42px;
		margin-bottom: 18px;
	}

	.header-middle .nav-opener {
		display: none;
	}

	.header-middle .page-logo,
	.header-middle .search-box {
		margin-left: 0;
	}

	.header-middle .search-box {
		width: 50%;
	}

	.header-middle .shopping-cart {
		width: 42px;
		height: 42px;
	}

	.header-bottom {
		margin-bottom: 8px;
	}

	.header-bottom .main-menu {
		position: static;
		width: 100%;
		min-height: 62px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
	}

	.header-bottom .main-menu li {
		padding: 0 15px;
	}

		.header-bottom .main-menu li a {
			font-size: 20px;
			text-decoration: none;
		}

			.header-bottom .main-menu li a:hover {
				text-decoration: underline;
			}

.above .center {
	padding: 20px 10px 30px;
}

.above .heading p {
	display: block;
}



	main .left {
		padding: 0 10px;
	}

	main .right {
		padding: 12px 10px 0px;
	}

	main .right .product-grid .product {
		width: 234px;
	}

	main .features {
		padding: 30px 10px;
	}

	main .right .recent-products li:last-child {
		display: block;
	}
	
	main .right .recent-products li {
		width: 33.33%;
	}

	footer .footer-top,
	footer .footer-bottom {
		padding: 0 10px;
	}

	.footer-top .sitemap,
	.footer-top .social,
	.footer-top .subscribe {
		width: 33.33%;
	}
}