@media screen and (min-width: 1000px) {
	
	.header__top,
	.header__middle,
	.menu__wrapper,
	.above-content,
	.main,
	.footer__top,
	.footer__bottom {
		box-sizing: border-box;
		width: 1000px;
		margin: 0 auto;
	}
	
	/* HEADER start */
	.header__top {
		padding: 0 0.8333333333333333rem; /* 12px / 12px, 10px / 12px */
		margin-bottom: 1rem;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.contact-info {
		position: relative;
		display: block;
		padding: 1rem 0 1rem 2rem; /* 28px / 12px */
		color: #999999;
	}

	.contact-info::before {
		content: "";
		display: block;
		position: absolute;
		top: 9px;
		left: 0;
		width: 18px;
		height: 18px;
		background-image: url("../images/icons/phone.png");
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	.user-menu {
		position: static;
	}

	.user-menu__dropdown {
		height: auto;
	}

	.dropdown-menu__expander {
		line-height: 1rem;
		min-height: 0;
	}

	.dropdown-menu__expander::after {
		top: 4px;
	}

	.user-menu__link {
		display: inline;
	}

	.user-menu__dropdown,
	.user-menu__link {
		padding: 1rem 0;
	}

	.my-account__icon {
		margin-bottom: -6px;
	}

	.header__middle {
		padding: 0 10px;
		height: 42px;
		border-bottom: none;
		margin-bottom: 18px;
	}

	.page-logo,
	.search-form {
		margin-left: 0;
	}

	.page-logo {
		width: 157px;
		height: 42px;
	}
	
	.search-form {
		width: 54.50097847358121%; /*  557px / 1022px */
	}

	.shopping-cart {
		width: 42px;
		height: 42px;
	}

	/* Styles for menu */
	.menu-opener {
		display: none;
	}

	.menu__wrapper {
		display: block;
		position: static;
	}
	
	.menu {
		background: none;
		padding: 0;
		position: relative;
	}

	.menu__item {
		min-height: 62px;
		width: auto;
		display: inline-block;
		background-color: transparent;
		border-width: 1px 1px 1px 1px;
		border-color: transparent;
	}

	.menu__item:hover {
		border-color: transparent;
	}

	.menu__link {
		line-height: 62px;
	}

	.menu__item.expander {
		background-image: none;
	}

	.menu__item.expander:hover {
		background-color: #fff;
		border-top-color: #e6e6e6;
		border-left-color: #e6e6e6;
		border-right-color: #e6e6e6;
		border-bottom-color: #fff;
	}

	.sub-menu__wrapper {
		display: none;
		justify-content: flex-start;
		top: 100%;
		left: 0;
		width: 100%;
		height: 311px;
	}

	.sub-menu {
		width: 20%;
	}

	/* HEADER end */

	.above-content {
		padding: 0.8333333333333333rem; /* 10px / 12px */
	}

	.above .heading p {
		display: block;
	}

	.above-content__header {
		width: 32%;
	}

	.above-content__paragraph {
		display: none;
	}

	.above-content__paragraph-2 {
		display: block;
		float: right;
		width: 66%;
		line-height: 1.8;
	}

	.left-column,
	.right-column {
		padding: 0 0.8333333333333333rem;
	}

	.view-settings,
	.recent-products-wrapper {
		padding: 0;
	}

	.product {
		width: 33.33%;
	}

	.r-product:last-child {
		display: block;
	}

	.features {
		padding: 5rem 0.8333333333333333rem;
	}

	.features-list__item:last-child,
	.features-list__item:nth-child(5) + .features-list__separator {
		display: block;
	}

	.sitemap__item {
		width: 33.33%;
	}
	
	.subscribe-form__submit {
		padding-left: 5.5%;
	}

	.subscribe-form__submit::after {
		right: 8%;
	}
	
}