/* Main */
html, 
body,
header ul,
aside ul,
footer ul {
	margin: 0;
	padding: 0;
}

header ul,
aside ul,
.recently-viewed ul,
.features ul, 
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

/* HEADER start */

.header {
	display: flex;
	flex-direction: column;
}

.header__top {
	order: 2;
}

.contact-info {
	display: none;
}

.user-menu__link {
	display: none;
}

/*.dropdown-menu { display: none; }*/

.dropdown-menu__expander,
.dropdown-menu__item {
	height: 40px;
	padding: 0 1.25rem; /* 15px / 12px */
}

.dropdown-menu__expander {
	background-color: #f2f2f2;
}

.language-switcher__image {
	margin-right: 1.083333333333333rem; /* 13px / 12px */
	width: 16px;
	height: 11px;
}

.language-switcher__text,
.my-account__item {
	line-height: 40px;
}

.header__middle {
	order: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.main-menu-opener {
	order: 1;
	width: 62px;
	height: 62px;
}

.page-logo {
	order: 2;
}

.search-form {
	order: 4;
	width: 100%;
	box-sizing: border-box;
	padding: 1.666666666666667rem 1.25rem; /* 20px / 12px, 15px / 12px */
}

.search-form__elements-wrapper {
	position: relative;
	width: 100%;
	height: 42px;
}

.search-form__text-input {
	width: 100%;
	height: 100%;
}

.search-form__button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 55px;
}

.shopping-cart {
	order: 3;
	width: 62px;
	height: 62px;	
}

.header__bottom {
	order: 3;
}

.main-menu__item {
	min-height: 42px;
	padding: 0 1.25rem;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.666666666666667rem; /* 20px / 12px */
	line-height: 42px;
	text-transform: uppercase;
}

.main-menu__link {
	text-decoration: none;
}

/*.sub-menu { display: none; }*/

.sub-menu-lvl-1__head,
.sub-menu-lvl-2__item {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.083333333333333rem; /* 13px / 12px */
	line-height: 24px;
}

.sub-menu-lvl-1__head::before,
.sub-menu-lvl-2__item:not(:last-child)::before {
	content: "› ";
}

.sub-menu-lvl-2__item {
	text-transform: capitalize;
}

.above-content { display: none; }

/* HEADER end */







/* MAIN start */

.filter-opener {
	height: 57px;
	text-align: center;
	background: #ccc;
}

.filter-opener__text {
	position: relative;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.833333333333333rem; /* 22px / 12px */
	line-height: 57px;
	padding-right: 1.916666666666667rem; /* 23px / 12px */
	color: blue;
	user-select: none;
	text-transform: uppercase;
}

.filter-opener__text::after {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
	width: 11px;
	height: 7px;
	background: #000;
}

.main {}

.left-column {
	margin: 0 1.25rem;
}

.active-filters,
.filters-block {
	margin-bottom: 37px;
}

.filters-block:last-child {
	margin-bottom: 5px;
}

.active-filters__title,
.filters-list__expander {
	margin: 0;
	padding: 0;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: normal;
}

.active-filters__item,
.filters-list__item {
	height: 24px;
}		

.active-filters__item,
.link-action,
.filters-list__label {
	font-size: 1.083333333333333rem; /* 13px / 12px */
	line-height: 24px;
}

.active-filters__remove-link,
.filters-list__checkbox {
	margin-right: 20px;
}

.filters-list__label {
	user-select: none;
}

.link-action {
	font-weight: 700;
}

/*main .left-column .filter-box ul li input {
	margin-right: 10px;
}*/

main .right-column {
	padding: 12px 15px 0px;
	box-sizing: border-box;
}

main .right-column .view-settings,
main .right-column .product-grid {
	display: flex;
	align-items: center;
}

main .right-column .view-settings {
	height: 35px;
	margin-bottom: 11px;
}

main .right-column .view-settings span {
	font-size: 13px;
}

main .right-column .view-settings * {
	margin-right: 10px;
}

main .right-column .view-settings .mode {
	width: 24px;
	height: 24px;
}

main .right-column .product-grid {
	flex-direction: column;
}

main .right-column .product-grid .product {
	box-sizing: border-box;
	width: 100%;
	min-height: 370px;
	padding: 14px 0;
	margin-bottom: 13px;
}

main .right-column .product-grid .product img,
main .right-column .product-grid .product button { 
	display: block;
	margin: 0 auto;
}

main .right-column .product-grid .product h3 {
	margin-top: 18px;
	font-size: 12px;
	font-weight: normal;
}

main .right-column .product-grid .product h3,
main .right-column .product-grid .product p {
	text-align: center;
}

main .right-column .product-grid .product .product-stock {
	display: none;
}

main .right-column .product-grid .product .product-price {
	font-size: 20px;
	font-weight: bold;
}

main .right-column .product-grid .product button { 
	width: 125px; 
	height: 30px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 18px;
	text-transform: uppercase;	
}

main .features {
	padding: 30px 15px;
	background: #ccc;
	box-sizing: border-box;
}

main .features ul {
	display: flex;
	flex-direction: column;
}

main .features ul li {
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 34px;
	height: 18px;
	width: 100%;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 19px;
	line-height: 18px;
	text-transform: uppercase;
}

main .features ul li:before {
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	content: "";
	width: 20px;
	height: 20px;
	background-color: #ddd;
}

main .features ul li:not(:last-child) {
	margin-bottom: 28px;
}

main .right-column .recently-viewed h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 26px;
	line-height: 24px;
	text-transform: uppercase;
}

main .right-column .recently-viewed a {
	display: none;
}

main .right-column .recent-products {
	display: flex;
	flex-direction: column;
}

main .right-column .recent-products img {
	float: left;
	margin-right: 20px;
}

main .right-column .recently-viewed h3 {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/* MAIN end */










/* FOOTER start */
footer h3 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

footer .footer-top,
footer .footer-bottom {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
}

footer .footer-top ul,
footer .footer-bottom ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer .footer-top .sitemap ul li,
footer .footer-bottom .footer-links ul li {
	margin-bottom: 15px;
}

footer .footer-top .sitemap ul li {
	width: 50%;	
}

footer .footer-top .social ul li a {
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 6px;
	margin-bottom: 6px;
	border-radius: 3px;
	background: #ccc;
}

footer .footer-top .subscribe .form-group {
	width: 100%;
	height: 36px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer .footer-top .subscribe p {
	display: none;
}

footer .footer-top .subscribe .form-group input {
	height: auto;
}

footer .footer-top .subscribe .form-group input[type="text"] {
	width: 60%;
}

footer .footer-top .subscribe .form-group input[type="submit"] {
	width: 37.93103448275862%;
}

footer .footer-bottom {
	padding: 10px;
}

footer .footer-bottom .copyrights {
	text-align: center;
	margin-bottom: 15px;
}

footer .footer-bottom .footer-links ul {
	justify-content: center;
}

footer .footer-bottom .footer-links ul li {
	margin-right: 10px;
}

/* FOOTER end */