/*'Montserrat', */

/*
	(?) Better use 12 grid system
	8.33
	16.66
	25
	33.33
	41.66
	50
	58.33
	66.66
	75
	83.33
	91.66
	100
*/

/* Main */
html, 
body,
header ul,
aside ul,
footer ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

header ul,
aside ul,
.recently-viewed ul,
.features ul, 
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: column;
}

.header-top {
	display: inherit;
	flex-direction: row;
	justify-content: space-between;
	order: 2;
}

	.header-top .contact-info {
		display: none;
	}

	.header-top .action {
		display: inherit;
		flex-direction: column;
	}

		.header-top .action li { 
			height: 40px;
			padding-left: 18px;
			line-height: 40px;
			font-size: 13px;
		}

		.header-top .action .language::before,
		.header-top .action .my-account::before {
			content: "";
			display: inline-block;
			margin-right: .5em;
			width: 16px;
			height: 11px;
			background: #000;
		}

		.header-top .action .hyp { display: none; }

.header-middle {
	display: inherit;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	order: 1;
}

	.header-middle .nav-opener {
		order: 1;
		width: 62px;
		height: 62px;
		background: #ccc;
	}
	
	.header-middle .page-logo {
		order: 2;
	}

	.header-middle .search-box {
		order: 4;
		width: 100%;
		padding: 20px 15px;
	}

		.header-middle .input-wrapper {
			height: 40px;
			position: relative;
		}

		.header-middle input {
			width: 100%;
			height: 100%;
			padding: 0 16px;
			outline: none;
			box-sizing: border-box;
			font-family: inherit;
			font-style: italic;
			font-size: 13px;
		}

		.header-middle button {
			position: absolute;
			width: 55px;
			top: 0;
			right: 0;
			bottom: 0;
		}

	.header-middle .shopping-cart {
		order: 3;
		width: 62px;
		height: 62px;
		background: #ccc;
	}

.header-bottom {
	order: 3;
}

	.header-bottom .main-menu li {
		height: 40px;
		padding-left: 16px;
	}

	.header-bottom .main-menu li a {
		font-family: 'Pathway Gothic One', sans-serif;
		font-size: 18px;
		line-height: 40px;
		text-decoration: none;
		text-transform: uppercase;
	}

.above { 
	display: none;
}

main {
	display: flex;
	flex-direction: column;
}

		main .left {}

		main .left .active-filters,
		main .left .filter-box {
			padding-left: 18px;
		}

		main .left .active-filters h3,
		main .left .filter-box h3 {
			height: 40px;
			margin: 0;
			padding: 0;
			font-family: 'Pathway Gothic One', sans-serif;
			font-size: 18px;
			line-height: 40px;
			text-transform: uppercase;
			font-weight: normal;
		}

		main .left .active-filters ul li {
			height: 20px;
		}		

		main .left .active-filters ul a,
		main .left .active-filters a  {
			font-size: 13px;
			line-height: 20px;
		}

		main .left .filter-box ul li {
			height: 20px;
			box-shadow: 0 0 1px 0 #f00;
		}

		main .left .filter-box ul li label {
			line-height: 20px;
		}

		main .left .filter-box ul li input {
			margin-right: 10px;
		}

		main .right .product-grid {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		main .right .product-grid .product img,
		main .right .product-grid .product button { 
			display: block;
			margin: 0 auto;
		}

		main .right .product-grid .product h3,
		main .right .product-grid .product p {
			text-align: center;
		}

		main .right .product-grid .product button { width: 100px; }

	main .features ul {
		display: flex;
		flex-direction: column;
	}

		main .features ul li {
			padding: 1em;
			box-sizing: border-box;
		}

	main .right .recently-viewed {
		padding: 0.5em;
	}

	main .right .recently-viewed h2 {
		display: inline;
	}

	main .right .recently-viewed h2,
	main .right .recently-viewed h2 ~ a {
		margin-right: 1em;
	}

	main .right .recent-products {
		display: flex;
		flex-direction: column;
	}

.footer-top,
.footer-bottom {
	display: flex;
	flex-direction: column;
}