@media screen and (min-width: 640px) {
	
	/* HEADER start */
	.header__top {
		order: 1;
		position: relative;
	}
	
	.user-menu {
		position: absolute;
		top: 7px;
		right: 66px;
		vertical-align: top;
	}

	.user-menu__dropdown {
		display: inline-block;
		position: relative;
		width: 62px;
		height: 50px;
		line-height: 50px;
	}
	
	.dropdown-menu__expander {
		min-height: 50px;
		background-color: #fff;
	}

	.my-account__text {
		display: none;
	}

	.dropdown-menu__expander .language-switcher__text {
		display: none;
	}

	.dropdown-menu {
		display: none;
		position: absolute;
		z-index: 100;
		min-width: 122px;
		top: 100%;
		line-height: 40px;
		background: #fff;
	}

	.user-menu__dropdown:hover .dropdown-menu {
		display: block;
	}

	.dropdown-menu__expander::after {
		top: 21px;
	}

	.dropdown-menu__item:hover {
		background-color: #ccc;
	}

	.language-switcher .dropdown-menu {
		min-width: 122px;
		left: 0;
	}

	.my-account .dropdown-menu {
		min-width: 164px;
		right: 0;
	}
	
	.header__middle {
		order: 2;
	}
	
	.main-menu-opener {
		order: 1;
	}

	.page-logo {
		margin-left: -8.833333333333333rem; /* -106px / 12px */
		order: 2;
		width: 119px;
		height: 32px;
	}

	.search-form {
		margin-left: -9.333333333333333rem; /* -112px / 12px */
		order: 3;
		padding: 0;
		width: 297px;
	}

	.shopping-cart {
		order: 4;
	}

	.header__bottom {
		order: 3;
	}

	/*
		
		Styles for menu

	*/			
			
	/* HEADER end */

	.above-content__wrapper {
		display: block;
		background: #ccc;
	}

	.above-content {
		padding: 1.25rem;
	}

	.breadcrumb {
		margin-bottom: 5.1rem;
	}

	.breadcrumb__link {
		position: relative;
		text-transform: capitalize;
		/*margin-right: 1rem;*/
		z-index: 1;
	}

	.breadcrumb__link::after {

		content: ;
	}

	.above-content__header {
		float: left;
		font-family: 'Pathway Gothic One', sans-serif;
		font-size: 72px;
		line-height: 1.2;
		width: 45%;
		text-transform: uppercase;
		font-weight: normal;
	    -webkit-margin-before: 0;
    	-webkit-margin-after: 0;
	}

	.above-content__paragraph {
		display: block;
		float: right;
		width: 55%;
		line-height: 1.8;
	}

	.above-content__paragraph-2 {
		display: none;
		float: right;
		width: 55%;
		line-height: 1.8;
	}

	.above-content__text-wrapper::after {
		display: block;
		content: "";
		width: 100%;
		clear: both;
	}

	.filters-opener {
		display: none;
	}

	.main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 1rem;
		box-sizing: border-box;
	}

	.left-column {
		width: 25%;
		box-sizing: border-box;
	}

	.right-column {
		padding-top: 0;
		width: 75%;
		box-sizing: border-box;
	}

	.view-settings {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		box-sizing: border-box;
	}

	.products-counter,
	.sorting {
		display: block;
	}

	.products-counter {
		line-height: 2;
	}

	.product-grid {
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.product {
		width: 50%;
	}

	.add-button {
		visibility: hidden;
	}

	.product:hover {
		box-shadow: 0 0 3px 0 #000;
	}

	.product:hover .product__attributes {
		display: none;
	}

	.product:hover .product__stock-counter {
		display: block;
	}

	.product:hover .add-button {
		visibility: visible;
	}
	
	.recent-products-wrapper {
	}

	.r-product-list {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.r-product {
		width: 50%;
	}

	.r-product:last-child {
		display: none;
	}

	.features {
		width: 100%;
		padding: 5rem 1.25rem;
	}

	.features-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.features-list__item:not(:last-child) {
		margin-bottom: 0;
	}

	.features-list__separator {
		display: block;
		width: 12px;
		height: 40px;
		background-color: #000;
	}

	.features-list__item:last-child,
	.features-list__item:nth-child(5) + .features-list__separator {
		display: none;
	}

	.footer__top,
	.footer__bottom {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.footer-column {
		width: 33.33%;
	}
}