@media screen and (min-width: 600px) {
	
	body {
		min-width: 738px;
	}

	.header-top {
		position: relative;
		order: 1;
	}

		.header-top .action {
			position: absolute;
			flex-direction: row;
			top: 1em;
			right: 70px;
		}

		.header-top .action .language span,
		.header-top .action .my-account span {
			display: none;
		}

	.header-middle {
		order: 2;
	}

		.header-middle .page-logo {
			margin-left: -8em;
		}

		.header-middle .search-box { 
			margin-left: -8em;
			width: 30%;
			order: 3;
			padding: 0;
		}

		.header-middle .shopping-cart {
			order: 4;
		}

	.header-bottom {
		position: relative;
	}

		.header-bottom .main-menu {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 20%;
			z-index: 2;
			background-color: #fff;
		}

.above {
	display: block;
	padding: 20px 15px 30px;
	box-sizing: border-box;
	min-height: 190px;
}

	.above .breadcrumb {
		margin-bottom: 60px;
	}

	.above .heading {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.above .heading h1,
	.above .heading p {
		width: 48%;
		margin: 0;
		padding: 0;
	}

	.above .heading h1 {
		font-family: 'Pathway Gothic One', sans-serif;
		font-size: 72px;
		line-height: 72px;
		font-weight: normal;
	    text-transform: uppercase;
	}

	main {
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 12px;
	}

		main .left {
			width: 25%;
		}

			main .left .filter-opener {
				display: none;
			}

		main .right {
			width: 75%;
			padding-top: 0px;
		}

			main .right .product-grid {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
			}

				main .right .product-grid .product {
					width: 49%;
				}

		main .features {
			width: 100%;
		}

		main .features ul {
			flex-direction: row;
			flex-wrap: wrap;
		}

			main .features ul li {
				box-sizing: border-box;
				width: 50%;
			}

		main .right .recent-products {
			flex-direction: row;
			justify-content: space-between;
		}

			main .right .recent-products li:last-child {
				display: none;
			}
			
			main .right .recent-products li {
				width: 50%;
			}

	footer .footer-top,
	footer .footer-bottom {
		flex-direction: row;
		justify-content: space-between;
	}

		footer .footer-top .sitemap {
			width: 31.43631436314363%;
		}

		footer .footer-top .social {
			width: 23.57723577235772%;
		}

		footer .footer-top .subscribe {
			width: 43.08943089430894%;
		}

		footer .footer-top .subscribe p {
			display: block;
		}

	footer .footer-bottom {
		align-items: flex-start;
		padding: 10px;
	}

		footer .footer-bottom .footer-links ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

}