@media screen and (min-width: 640px) {
	
	/* HEADER start */
	.header__top {
		order: 1;
		position: relative;
	}
	
	.user-menu {
		position: absolute;
		top: 7px;
		right: 66px;
		vertical-align: top;
	}

	.user-menu__dropdown {
		display: inline-block;
		position: relative;
		width: 62px;
		height: 50px;
		line-height: 50px;
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
	}
	
	.user-menu__dropdown:hover {
		border-color: #e6e6e6;
	}

	.user-menu__dropdown::after {
		position: absolute;
		display: none;
		content: "";
		width: 100%;
		height: 1px;
		top: 100%;
		left: 0;
		background: #fff;
	}

	.user-menu__dropdown:hover::after {
		display: block;
		z-index: 101;
	}

	.dropdown-menu__expander {
		min-height: 50px;
		background-color: #fff;
	}

	.my-account__text {
		display: none;
	}

	.dropdown-menu__expander .language-switcher__text {
		display: none;
	}

	.dropdown-menu {
		display: none;
		padding: 1rem 0;
		min-width: 122px;
		position: absolute;
		z-index: 100;
		top: 100%;
		line-height: 40px;
		background: #fff;
		border: 1px solid #e6e6e6;
	}

	.user-menu__dropdown:hover .dropdown-menu {
		display: block;
	}

	.dropdown-menu__expander::after {
		top: 21px;
	}

	.language-switcher .dropdown-menu {
		min-width: 124px;
		left: -1px;
	}

	.my-account .dropdown-menu {
		min-width: 166px;
		right: -1px;
	}
	
	.header__middle {
		order: 2;
	}
	
	.main-menu-opener {
		order: 1;
	}

	.page-logo {
		margin-left: -8.833333333333333rem; /* -106px / 12px */
		order: 2;
		width: 119px;
		height: 32px;
	}

	.search-form {
		margin-left: -9.333333333333333rem; /* -112px / 12px */
		order: 3;
		padding: 0;
		width: 33.59375%; /* 215px / 640px */
		border-top: none;
	}

	.shopping-cart {
		order: 4;
		border-left: none;
	}

	.header__bottom {
		order: 3;
		position: relative;
		background-color: #f7f7f7;
	}

	.menu__wrapper {
		display: none;
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		right: 0;
	}

	.menu {
		padding: 10px 0;
		background: linear-gradient(90deg,
			#fff 0%,
			#fff 31.90104166666667%,
			transparent 31.90104166666667%,
			transparent 100%);
		/*
			31.90104166666667%;
		*/
	}

	.menu:hover .menu__link {
		color: #808080;
	}

	.menu__item {
		background-color: #fff;
		width: 31.90104166666667%; /* 245px / 768px */
		border-style: solid;
		border-width: 1px 0px 1px 0px;
		border-color: transparent;
	}
	
	.menu__item:hover {
		border-color: #e6e6e6;
	}

	.menu__item:hover .menu__link {
		color: #000;
	}

	.menu__item.expander {
		background-position: 95% 1.25rem; /* 15px / 12px */
		background-repeat: no-repeat;
		background-image: url("../images/icons/arrow-group-right.png"); 
	}

	.menu__item.expander:hover .sub-menu__wrapper {
		display: flex;
	}

	.menu__link {
		position: relative;
	}

	.sub-menu__wrapper {
		display: none;
		flex-wrap: wrap;
		flex-direction: row;
		position: absolute;
		justify-content: space-around;
		align-items: center;
		top: 0;
		height: 100%;
		left: 31.90104166666667%;
		width: 68.09895833333333%; /* 100% - left */
		z-index: 4;
		background: #fff;
	}

	.sub-menu {
		position: relative;
		width: 30%;
		height: 85%;
	}

	.sub-menu__item.view-more {
		position: absolute;
		left: 0.8333333333333333rem;
		bottom: 0;
	}
			
	/* HEADER end */

	.above-content__wrapper {
		display: block;
		background: #ededed;
	}

	.above-content {
		padding: 1.25rem;
	}

	.breadcrumb {
		margin-bottom: 5.1rem;
	}

	.breadcrumb__link {
		text-transform: capitalize;
		color: #8f8f8f;
	}

	.breadcrumb__link:last-child {
		color: #000;
	}

	.breadcrumb__link:hover {
		text-decoration: underline;
	}

	.breadcrumb__link:not(:last-child)::after {
		content: "›";
		padding: 0 .4rem;
		color: #cb2245;
		font-weight: bold;
	}

	.above-content__header {
		margin: 0;
		float: left;
		font-family: 'Pathway Gothic One', sans-serif;
		font-size: 72px;
		line-height: 1.2;
		width: 45%;
		text-transform: uppercase;
		font-weight: normal;
	    -webkit-margin-before: 0;
    	-webkit-margin-after: 0;
	}

	.above-content__paragraph {
		display: block;
		float: right;
		width: 55%;
		line-height: 1.8;
		color: #808080;
	}

	.above-content__paragraph-2 {
		display: none;
		float: right;
		width: 55%;
		line-height: 1.8;
		color: #808080;
	}

	.above-content__text-wrapper::after {
		display: block;
		content: "";
		width: 100%;
		clear: both;
	}

	.filters-opener {
		display: none;
	}

	.main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 1rem;
		box-sizing: border-box;
	}

	.left-column {
		width: 25%;
		box-sizing: border-box;
	}

	.right-column {
		padding-top: 0;
		width: 75%;
		box-sizing: border-box;
	}

	.view-settings {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		box-sizing: border-box;
	}

	.products-counter,
	.sorting {
		display: block;
	}

	.products-counter {
		line-height: 2;
	}

	.product-grid {
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.product {
		width: 50%;
	}

	.add-button {
		visibility: hidden;
	}

	.product:hover {
		box-shadow: 0 1px 2px 0 #ccc;
	}

	.product:hover .product__attributes {
		display: none;
	}

	.product:hover .product__stock-counter {
		display: block;
	}

	.product:hover .add-button {
		visibility: visible;
	}
	
	.r-product-list {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.r-product {
		width: 50%;
	}

	.r-product:last-child {
		display: none;
	}

	.features {
		width: 100%;
		padding: 5rem 1.25rem;
	}

	.features-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.features-list__item:not(:last-child) {
		margin-bottom: 0;
	}

	.features-list__separator {
		margin-top: -2rem;
		color: #e5e5e5;
		font-size: 48px;
		display: block;
		width: 12px;
		height: 40px;
	}

	.features-list__item:last-child,
	.features-list__item:nth-child(5) + .features-list__separator {
		display: none;
	}

	.footer__top,
	.footer__bottom {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.footer-column.social {
		width: 20%;
	}

	.footer-column.sitemap,
	.footer-column.subscribe {
		width: 40%;
	}

	.subscribe-form__submit::after {
		right: 11%;
	}
}